@model SWZRFI.DTO.ApplicationViewer;

@{
    ViewBag.Title = "Szczegóły aplikacji";
    Layout = "_LayoutCorporational";
}

<h1>@ViewData["Title"]</h1>

@functions{

    private string GetId(SWZRFI.DTO.CvViewer cv)
    {
        return cv.UserId + "," + cv.JobOfferId.ToString();
    }

}


<div class="container">
    <div class="row">
        <div class="col-md-6">

            <div>
                <h5>Podstawowe informacje:</h5>
                <div style="overflow:hidden">
                    <div style="width:80px; float:left">
                        <h6>Imię:</h6>
                        <h6>Nazwisko:</h6>
                        <h6>Telefon:</h6>
                        <h6>Email:</h6>
                    </div>
                    <div style="width:400px; overflow:hidden">
                        <h6>@Model.CvViewer.FirstName</h6>
                        <h6>@Model.CvViewer.LastName</h6>
                        <h6>@Model.CvViewer.PhoneNumber</h6>
                        <h6>@Model.CvViewer.Email</h6>
                    </div>
                </div>
            </div>

            <h5>O mnie:</h5>
            @foreach (var item in Model.CvViewer.AdditionalInformation)
            {
                <div>
                    <h6>@item</h6>
                </div>
            }
            <h5>Moje umiejętności:</h5>
            @foreach (var item in Model.CvViewer.Skills)
            {
                <div>
                    <h6> &#8226; @item</h6>
                </div>
            }
            <h5>Dodatkowe atuty:</h5>
            @foreach (var item in Model.CvViewer.AdditionalSkills)
            {
                <div>
                    <h6> &#8226; @item</h6>
                </div>
            }
            <h5>Dotychczasowe doświadczenie:</h5>
            @foreach (var item in Model.CvViewer.Expirience)
            {
                <div>
                    <h6> &#8226; @item</h6>
                </div>
            }
            <h5>Znane języki:</h5>
            @foreach (var item in Model.CvViewer.Languages)
            {
                <div>
                    <h6> &#8226; @item</h6>
                </div>
            }
            <h5>Moje linki:</h5>
            @foreach (var item in Model.CvViewer.OthersWebsites)
            {
                <div>
                    <h6> &#8226; @item</h6>
                </div>
            }
            @if (Model.UserQuestionnaireAnswer != null)
            {
                <h5>Użytkownik wypełnił zadanie testowe</h5>
                <h6>Liczba uzysanych punktów w zadaniu testowym: @Model.UserQuestionnaireAnswer.UserAnswers.Where(q => q.Value == true).Count()/@Model.UserQuestionnaireAnswer.UserAnswers.Count()</h6>
            }
            else if (Model.QuestionnaireAccess != null)
            {
                <h5>Użytkownik nie wypełnił zadania testowe</h5>
                <h6>Użytkownik nie wziął jeszcze udział w teście.</h6>
            }
            @if (Model.QuestionnaireAccess == null)
            {
                <h5>Użytkownik nie został jeszcze zaproszony do testu, kliknij "Zaproś do quizu" aby wysłać zaproszenie</h5>
            }
        </div>
    </div>
    <div class="row" style="margin-top:40px">
        <div class="col-sm">
            <a asp-action="Index" style="margin-right:2px" value="Anuluj" class="btn btn-secondary">Powrót</a>
            <a asp-action="DeleteApplication" asp-route-id="@Model.CvViewer.ApplicationId" style="margin-right:2px" value="Anuluj" class="btn btn-danger">Odrzuć aplikacje</a>
            @if (Model.QuestionnaireAccess == null)
            {
                <a asp-action="SendQuestionnaireInvitation" asp-route-id="@GetId(Model.CvViewer)" style="margin-right:2px" value="Anuluj" class="btn btn-primary">Zaproś do quizu</a>
            }
            <a asp-action="InviteToMeeting" asp-route-id="@Model.CvViewer.ApplicationId" style="margin-right:2px" value="Anuluj" class="btn btn-success">Zaproś na spotkanie</a>


        </div>
    </div>
</div>