@model SWZRFI.DTO.ViewModels.ResultViewModel

@{

    int[] data = Model.QuestionnaireAnswerDetails.Select(q => q.AnswerSum).ToArray();
    string[] candidateNames = Model.QuestionnaireAnswerDetails.Select(q => q.CandidateName).ToArray();
}

@{
    ViewData["Title"] = "Wyniki - Szczegóły";
}

@if (Model.NumberOfSolvedQuestionnaires > 0)
{

<div class="container">
    <div class="row">
        <h2 style="text-align:center">Zbiorcze podsumowanie testu do oferty:</h2>
        <h2 style="text-align:center">"@Model.QuestionnaireName"</h2>
    </div>
    <div class="row" style="margin-top: 40px">
        <h3>Podsumowanie:</h3>
    </div>
    <div class="row" style="margin-top: 10px">
        <h5>Liczba pytań: @Model.FirstName</h5>
    </div>
    <div class="row" style="margin-top: 10px">
        <h5>Średni wynik: @Model.LastName</h5>
    </div>
    <div class="row" style="margin-top: 10px">
        <h5>Data pierwszego rozwiązania testu: @Model.StudyStart.Value.ToShortDateString()</h5>
    </div>
    <div class="row" style="margin-top: 10px">
        <h5>Liczba kandydatów biorących udział: @Model.NumberOfSolvedQuestionnaires</h5>
    </div>
</div>

    <script src="https://code.highcharts.com/highcharts.js"></script>


    <figure class="highcharts-figure">
        <div id="container"></div>
    </figure>

    <script>

        var dataJS = @Html.Raw(Json.Serialize(data));
        var candidateNamesJS = @Html.Raw(Json.Serialize(candidateNames));

        Highcharts.chart('container',
            {
                title: {
                    text: ' '
                },

                subtitle: {
                    text: ''
                },

                yAxis: {
                    title: {
                        text: 'Wynik punktowy kandydata'
                    }
                },

                xAxis: {
                    title: {
                        text: 'Kandydat'
                    },
                    accessibility: {
                        rangeDescription: 'Kandydat'
                    },
                    categories: candidateNamesJS,
                },

                legend: {
                    layout: 'vertical',
                    align: 'right',
                    verticalAlign: 'middle'
                },

                plotOptions: {
                    series: {
                        label: {
                            connectorAllowed: false
                        },
                        //pointStart: 0
                    }
                },

                series: [
                    {
                        name: 'Skala punktowa',
                        data: dataJS
                    }
                ],

                responsive: {
                    rules: [
                        {
                            condition: {
                                maxWidth: 1200
                            },
                            chartOptions: {
                                legend: {
                                    layout: 'horizontal',
                                    align: 'right',
                                    verticalAlign: 'middle'
                                }
                            }
                        }
                    ]
                },

                credits: {
                    enabled: false
                }

            });

    </script>


}
else
{
    <h1>Pacjent nie udzielił jeszcze żadnej odpowiedzi na tą ankietę</h1>
}



<div class="row">
    <a asp-action="PatientQuestionnaires" asp-route-id="@Model.PatientEmail" class="btn btn-dark" style="margin-top: 40px; width: 200px">Powrót</a>
</div>